body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #f7ce4c;
}
a {
    color: inherit;
    text-decoration: none;
}
.btnStyle{
    font-size: 20px;
    margin-top: 20px;
    background-color:#f7ce4c;
    color: black;
    padding: 20px 50px 20px 50px;
    border: black 2px solid;
    transition: ease-in-out 0.4s;
}
.btnStyle:hover {
    background-color: black;
    color:#f7ce4c;
}
.titlePage {
    text-align: center;
    margin-left: auto;
    letter-spacing: 10px;
    font-size: 70px;
}
.uitjeTitle{
    text-align: center;
    margin-left: auto;
    font-size: 5vh;
}
.navBar {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    text-decoration: none;
}
nav .navBar li {
    color: inherit;
}
.navBar i .loginIcon {
    vertical-align: baseline;
}
.gap {
    height: 100px;
    width: 100%;
}
.headText {
    text-align: center;
    width: 70%;
    margin: auto;
}
.headText img {
    margin-bottom: 40px;
}
/* ------------------------------------------ */

.nameQuestion {
    text-align: center;
    width: 100%;
}

.nameQuestion .uitjeName {
    border-radius: 50px;
    width: 25%;
    height: 40px;
    background-color: transparent;
    border: black 2px solid;
    padding-left: 20px;
    display: block;
    margin: auto;
    font-size: 18px;
}
.nameQuestion button {
    font-size: 20px;
    margin-top: 20px;
    background-color: black;
    color: #f7ce4c;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    border: black 2px solid;
    transition: ease-in-out 0.4s;
}
.nameQuestion button:hover {
    background-color: transparent;
    color: black;
}
#groupNameTitle {
    text-align: center;
}
/* Dashboard */
.navList {
    list-style-type: none;
    width: 100%;
    display: flex;
    border: 1px solid black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 3px 2px;
}
.navList > li {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px 20px 10px 20px;
    transition: ease-in-out 0.5s;
}
.navList > li:hover {
    background-color: black;
    color: #f7ce4c;
}
.content {
    display: none;
}

.content.active {
    display: block;
}

.tab.active {
    font-weight: bold;
    background-color: black;
    color: #f7ce4c;
}
.personGrid{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    background-color: #eac448;
}
.personGrid > li{
    padding: 20px 40px 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: ease-in-out .3s;
}
.person{
    padding: 10px;
}
.navUitje{
    display: flex;
}
.navUitje li{
    padding: 20px;
    list-style-type: none;
    vertical-align: middle;
}
.navUitje span{
    font-size: 30px;
}
