:root {
    --main-color: #F5F5DC; /* Creme background */
    --secondary-color: #333333; /* Dark black for text and borders */
    --accent-color: #FFD700; /* Gold for accents */
    --text-color: #1C1C1C; /* Dark gray for text */
    --button-hover-color: #FF6347; /* Tomato for button hover */
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

li {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePage {
    text-align: center;
    letter-spacing: 10px;
    font-size: 70px;
    color: var(--secondary-color);
    transition: font-size 0.3s;
}

.nameQuestion {
    text-align: center;
    margin-top: 20px;
}

.nameQuestion .uitjeName {
    border-radius: 50px;
    width: 25%;
    height: 40px;
    background-color: var(--main-color);
    border: 1px solid var(--secondary-color);
    padding-left: 20px;
    color: var(--text-color);
    font-size: 18px;
    transition: border-color 0.3s;
}

.nameQuestion button {
    font-size: 20px;
    margin-top: 20px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.4s, color 0.4s;
}

.nameQuestion button:hover {
    background-color: var(--button-hover-color);
    color: var(--main-color);
}

/* Trips Section */
.existingTrips {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-radius: 12px;
    gap: 10px;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    background-color: var(--secondary-color);
}

.existingTrips > li {
    padding: 20px;
    background-color: var(--main-color);
    color: black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    cursor: pointer;
}

.existingTrips > li:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 10px;
    width: 100%;
}
